@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* General */

*
{
    padding: 0;
    margin: 0;
}

html
{
    /* When using anchor elements to redirect to specific
       part of website, this property will allow that
       process to be smooth rather than jumping.         */
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppins', sans-serif;
}

p
{
    color: rgb(85, 85, 85);
}

/* End of General */


/* Transition */

a,
.btn
{
    transition: all 0.3s ease;
}

/* End of Transition */


/* Desktop Nav */

nav,
.nav__links
{
    display: flex;
}

nav
{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav__links
{
    /* I'm so retarded... */
    gap: 2rem;

    list-style: none;
    font-size: 1.5rem;
}

.nav__links a
{
    color: black;
    display: inline-block;
    text-decoration: none;
}

.nav__links a:hover
{
    font-weight: 500;
    color: rgb(152, 152, 152);
}

.nav__links a::after
{
    margin-top: 2px;
    content: '';
    width: 0%;
    height: 3px;
    background: rgba(152, 152, 152, 0.3);
    display: block;
    transition: all 0.5s ease 0s;
}

.nav__links a:hover::after
{
  width: 100%;
}

.logo
{
    font-size: 2rem;
}

.logo:hover
{
    cursor: default;
}

/* End of Desktop Nav */


/* Hamburger Menu */

#hamburger__nav
{
    display: none;
}

.hamburger__menu
{
    position: relative;
    display: inline-block;   
}

.hamburger__icon
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger__icon span
{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu__links
{
    position: absolute;
    top: 100%;
    right: 0%;
    background: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu__links a
{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu__links li
{
    list-style: none;

}

.menu__links.open
{
    max-height: 300px;
}

.hamburger__icon.open span:first-child
{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger__icon.open span:nth-child(2)
{
    opacity: 0;
}

.hamburger__icon.open span:last-child
{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger__icon span:first-child
{
    transform: none;
}

.hamburger__icon span:first-child
{
    opacity: 1;
}

.hamburger__icon span:first-child
{
    transform: none;
}

/* End of Hamburger Menu */



/* Section */

section
{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section__container
{
    display: flex;
}

/* End of Section */

/* Profile Section */

#profile
{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic__container
{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text
{
    align-self: center;
    text-align: center;
}

.section__text p
{
    font-weight: 600;
}

.section__text__p1
{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section__text
{
    font-size: 3rem;
    text-align: center;
}

#socials__container
{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* End of Profile Section */


/* Icons */

.icon
{
    cursor: pointer;
    background: transparent;
    height: 2rem;
}

/* End of Icons */


/* Buttons */

.btn
{
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn__container .btn__colour1 a
{
    color: white;
    text-decoration: none;
}

.btn__colour1, 
.btn__colour2
{
    border: rgb(53,53,53) 1px solid;
}

.btn__colour1:hover, 
.btn__colour2:hover
{
    cursor: pointer;
}


.btn__colour1, 
.btn__colour2:hover
{
    background: rgb(53,53,53);
    color: white;
}

.btn__colour1:hover
{
    background: rgb(0,0,0);
}

.btn__colour2
{
    background: none;
}

.btn__colour2:hover
{
    border: rgb(255,255,255) 0.1rem solid;
}

.btn__container
{
    gap: 1rem;
}



/* End of Buttons */